:host {
  display: block;
  max-width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

mat-form-field {
  width: 100%;
  height: 100%;
}

:host ::ng-deep .mdc-text-field {
  height: 100%;
  align-items: center;
}

:host ::ng-deep .mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 8px;
} 

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

:host ::ng-deep .mat-mdc-form-field.mat-focused .mdc-notched-outline__leading,
:host ::ng-deep .mat-mdc-form-field.mat-focused .mdc-notched-outline__notch,
:host ::ng-deep .mat-mdc-form-field.mat-focused .mdc-notched-outline__trailing {
  border-color: #31b3c9 !important;
}

:host ::ng-deep .mat-mdc-select-value-text {
  display: flex;
  align-items: center;
  height: 100%;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #333;
}

h4 {
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
  color: #000000;
}
