<footer class="footer">
    <div class="footer_grid">
        <div class="footer_coluna footer_coluna_logo">
            <img src="assets/imgs/logo_tech_solution.png" alt="Imagem Logo Tech Solution" class="footer_logo">
            <span class="footer_texto">Especialistas em dar uma nova vida aos seus equipamentos com rapidez e precisão.</span>
            <span class="footer_texto footer_texto_cinza">Sistema de Manutenção de Equipamentos<br>WEB 2 TADS - EQUIPE 5 - 2026</span>
        </div>

        <div class="footer_coluna">
            <span class="footer_subtitulo">Navegação</span>
            <ul class="footer_lista">
                <li>Início</li>
                <li>Sobre Nós</li>
                <li>Categorias</li>
                <li>Depoimentos</li>
            </ul>
        </div>

        <div class="footer_coluna">
            <span class="footer_subtitulo">Fale Conosco</span>
            <ul class="footer_lista">
                <li>(41) 99999-9999</li>
            </ul>
        </div>
    </div>
</footer>
