<div class="container-generico">
  <div class="row-topo">
    <div class="search-container">
      <input type="text" [placeholder]="placeholderBusca" (keyup)="onBusca($event)"> 
      <mat-icon>search</mat-icon>
    </div>

    <ng-content select="[botaoAcao]"></ng-content>
  </div>

  <div class="tabela-wrapper mat-elevation-z2">
    <table mat-table [dataSource]="dados" *ngIf="dados && dados.length > 0; else semDados">
      <ng-container *ngFor="let col of colunas" [matColumnDef]="col">
        <th mat-header-cell *matHeaderCellDef> {{ titulosColunas[col] || col }} </th>
        <td mat-cell *matCellDef="let item">
          
          <ng-container *ngIf="col === 'status'">
            <span class="status-link">{{ item[col] }}</span>
          </ng-container>

          <ng-container *ngIf="col === 'solicitacao'">
            <div class="col-solicitacao">
              <span>#{{ item.id }}</span>
              <a (click)="aoVisualizar.emit(item)" class="link-visualizar">Visualizar</a>
            </div>
          </ng-container>

          <ng-container *ngIf="col !== 'status' && col !== 'solicitacao'">
            {{ col === 'valor' ? (item[col] | currency:'BRL') : item[col] }}
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="colunas"></tr>
      <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
    </table>

    <ng-template #semDados>
      <div class="mensagem-vazia">
        <mat-icon>info_outline</mat-icon>
        <p>Não há orçamentos ou registros a serem mostrados no momento.</p>
      </div>
    </ng-template>

    <div class="footer-paginacao" *ngIf="dados && dados.length > 0">
      <p>Mostrando 1 a {{ dados.length }} de {{ dados.length }} resultados</p>
      <div class="pagination-controls">
        <mat-icon>chevron_left</mat-icon>
        <span class="active">1</span>
        <mat-icon>chevron_right</mat-icon>
      </div>
    </div>
  </div>
</div>