<div class="page-padding">
  
  <section class="boas-vindas">
    <h1>Olá, {{ nomeUsuario }}!</h1>
    

  </section>

  <app-card-visualizacao>
    
    <div class="toolbar-home-custom">
      <div class="wrapper-busca-custom">
        <app-input 
          titulo="Busca"
          placeholder="O que você está procurando?" 
          largura="100%"
          (mudou)="onBusca($event)">
        </app-input>
      </div>

      <app-botao-aprovar (clicou)="irParaSolicitacao()">
        <div class="conteudo-botao">
          <mat-icon>add</mat-icon> 
          <span>Solicitar Manutenção</span>
        </div>
      </app-botao-aprovar>
    </div>

    <app-tabela 
      [dados]="dadosExibidos" 
      [colunas]="colunasTabela"
      [acoes]="acoesTabela"
      (acaoClicada)="aoClicarAcaoTabela($event)">
    </app-tabela>

    <div class="sem-dados" *ngIf="dadosFiltrados.length === 0">
      <mat-icon>info</mat-icon>
      <p>Nenhuma solicitação encontrada.</p>
    </div>

    <div class="footer-custom-paginacao" *ngIf="dadosFiltrados.length > 0">
      <app-paginacao 
        [totalItens]="dadosFiltrados.length" 
        [itensPorPagina]="itensPorPagina" 
        [paginaAtual]="paginaAtual"
        (paginaChange)="aoMudarPagina($event)">
      </app-paginacao>
    </div>
  </app-card-visualizacao>
</div>