<div class="page-padding">
  <h1>Olá, {{ nomeUsuario }}!</h1>
  <p>Seu pedido #{{ idPedidoAnalise }} está em análise.</p>

  <app-layout-home 
    [dados]="solicitacoes"
    [colunas]="[
      'descricaoEquipamento', 
      'estadoAtual', 
      'valorOrcado', 
        'solicitacao']"
    [titulosColunas]="{
      'descricaoEquipamento': 
      'Descrição do Equipamento',
      'estadoAtual': 'Status',
      'valorOrcado': 'Valor',
      'solicitacao': 'Solicitação'
  }"
    placeholderBusca="Buscar equipamento ou protocolo..."
    (aoVisualizar)="abrirAcao($event)">
    
    <button botaoAcao class="btn-tech-primary" routerLink="/cliente/solicitacao">
      Novo orçamento
    </button>

  </app-layout-home>
</div>