<div class="page-padding">
  
  <section class="boas-vindas">
    <h1>Olá, {{ nomeUsuario }}!</h1>
    
    <div class="alerta-status" *ngIf="idPedidoPendente !== '00000'">
      <mat-icon>hourglass_empty</mat-icon>
      <span>
        Atualmente, seu pedido <strong>#{{ idPedidoPendente }}</strong> está em fase de análise técnica.
      </span>
    </div>
  </section>

  <app-card-visualizacao>
    
    <div class="toolbar-home-custom">
      <div class="wrapper-busca-custom">
        <app-input 
          titulo="Busca"
          placeholder="O que você está procurando?" 
          largura="100%"
          (mudou)="onBusca($event)">
        </app-input>
      </div>

      <app-botao-aprovar (clicou)="irParaSolicitacao()">
        <div class="conteudo-botao">
          <mat-icon>add</mat-icon> 
          <span>Solicitar Manutenção</span>
        </div>
      </app-botao-aprovar>
    </div>

    <app-tabela [dados]="dadosExibidos" [colunas]="colunasTabela">
      <ng-template #coluna_estadoAtual let-item><span class="status-badge">{{ item.estadoAtual }}</span></ng-template>
      <ng-template #coluna_valorOrcado let-item>{{ item.valorOrcado | currency:'BRL' }}</ng-template>
      <ng-template #coluna_acoes let-item>
        <div class="col-acoes">
          <span class="id-text">#{{ item.id }}</span>
          <button class="btn-acao-tabela" *ngIf="item.estadoAtual === 'ORCADA'" (click)="aprovar(item)">Aprovar</button>
          <button class="btn-acao-tabela" *ngIf="item.estadoAtual === 'REJEITADA'" (click)="resgatar(item)">Resgatar</button>
          <button class="btn-acao-tabela" *ngIf="item.estadoAtual === 'ARRUMADA'" (click)="pagar(item)">Pagar</button>
          <a (click)="tratarVisualizacao(item)" class="link-acao">Visualizar</a>
        </div>
      </ng-template>
    </app-tabela>

    <div class="sem-dados" *ngIf="dadosFiltrados.length === 0">
      <mat-icon>info</mat-icon>
      <p>Nenhuma solicitação encontrada.</p>
    </div>

    <div class="footer-custom-paginacao" *ngIf="dadosFiltrados.length > 0">
      <app-paginacao 
        [totalItens]="dadosFiltrados.length" 
        [itensPorPagina]="itensPorPagina" 
        [paginaAtual]="paginaAtual"
        (paginaChange)="aoMudarPagina($event)">
      </app-paginacao>
    </div>
  </app-card-visualizacao>
</div>