<h2>Categoria de Equipamentos</h2>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Quantidade em Estoque</th>
    </tr>
  </thead>

  <tbody>
    @for (categoria of categoriasAtivas; track categoria.id) {
        <tr>
            <td>{{ categoria.id }}</td>
            <td>{{ categoria.nome }}</td>
            <td>{{ categoria.descricao }}</td>
            <td>{{ categoria.quantidade }}</td>
        </tr>
    }
  </tbody>
</table>

<div class="container-botoes">
    <button>Adicionar categoria</button>
    <button>Atualizar categoria</button>
    <button (click)="mensagemExclusao()">Excluir</button>
</div>