<h2 mat-dialog-title>{{ data.titulo }}</h2>

<div mat-dialog-content>

  @switch (data.tipo) {

    @case ('formulario') {
      <div *ngFor="let campo of data.campos">
        <app-input-card [label]="campo.label">
            <input 
              [type]="campo.senha ? (mostrarSenha[campo.campo] ? 'text' : 'password') : campo.tipo"
              [value]="formData[campo.campo]"
              [(ngModel)]="formData[campo.campo]"
              [readonly]="campo.readonly || false"
              style="width: 100%; border: none; background: transparent; padding: 4px;"
              />
        </app-input-card>
      </div>
    }

    @default {
      <p>{{ data.mensagem }}</p>
    }

  }

</div>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="confirmar()">
    {{ data.textoConfirmar || 'Confirmar' }}
  </button>

  <button mat-button (click)="cancelar()">
    {{ data.textoCancelar || 'Cancelar' }}
  </button>

</div>