<h2 mat-dialog-title>{{ data.titulo }}</h2>

<div mat-dialog-content>

  <!-- atencao p o any no input, cuidar dele dps -->  

  @switch (data.tipo) {

    @case ('formulario') {
      <div *ngFor="let campo of data.campos">
        <app-input-card [label]="campo.label">
            <input 
              type="{{campo.tipo || 'text'}}"
              [value]="formData[campo.campo]"
              (input)="formData[campo.campo] = $any($event.target).value"
              style="width: 100%; border: none; background: transparent; padding: 4px;"
            />
        </app-input-card>
      </div>
    }

    @default {
      <p>{{ data.mensagem }}</p>
    }

  }

</div>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="confirmar()">
    {{ data.textoConfirmar || 'Confirmar' }}
  </button>

  <button mat-button (click)="cancelar()">
    {{ data.textoCancelar || 'Cancelar' }}
  </button>

</div>