:host {
  display: block;
  box-sizing: border-box;
}

.campo-container {
  display: flex;
  flex-direction: column;
  gap: 4px; 
}

.campo-input {
  box-sizing: border-box;
  width: 100%;
  min-height: 40px; 
  border: 1px solid rgba(0, 0, 0, 0.42);
  border-radius: 8px;
  padding: 8px 16px;
  font-family: inherit;
  font-size: 16px;
  background-color: transparent;
  outline: none;
  transition: border-color 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:hover {
  border-color: #000000;
}

input:focus {
  border: 2px solid #35cccc; 
  padding: 0 15px; 
}

.asterisco {
  color: #e53935;
}

.label-input {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 4px;
}


.msg-erro {
  font-size: 12px;
  color: #e53935;
}