<div class="login-container">
  <app-card-visualizacao>
    <div class="header-text">
      <h1>Login TechSolution</h1>
      <hr class="divider">
    </div>

    <form (ngSubmit)="efetuarLogin()">
      <app-input-card label="Acesso ao Sistema" largura="100%">
        <div class="field-group">
          <app-input
            titulo="E-mail"
            placeholder="exemplo@email.com"
            altura="52px"
            largura="100%"
            [valor]="credenciais.email"
            [email]="true"
            [obrigatorio] ="true"
            (mudou)="credenciais.email = $event">
          </app-input>
        </div>
        <div class="field-group">
          <app-input
            titulo="Senha"
            tipo="password"
            placeholder="Digite sua senha"
            altura="52px"
            largura="100%"
            [valor]="credenciais.senha"
            [obrigatorio] ="true"
            (mudou)="credenciais.senha = $event">
          </app-input>
        </div>
      </app-input-card>

      <div class="acoes-login">
        <app-botao-aprovar (clicou)="efetuarLogin()">
          Entrar
        </app-botao-aprovar>
      </div>

      <div class="link-cadastro">
        <p>
          Não possui uma conta?
          <a routerLink="/autocadastro">
            Cadastre-se aqui
          </a>
        </p>
      </div>
    </form>
  </app-card-visualizacao>
</div>