<div class="login-container">
  <app-card-visualizacao>
    <div class="header-text">
      <h1>Login TechSolution</h1>
      <hr class="divider">
    </div>

    <form (ngSubmit)="efetuarLogin()">
      <app-input-card label="Acesso ao Sistema" largura="100%">
        <div class="field-group">
          <app-input
            titulo="E-mail"
            placeholder="exemplo@email.com"
            altura="52px"
            largura="100%"
            [valor]="credenciais.email"
            (mudou)="credenciais.email = $event"
            (focusout)="marcarComoTocado('email')">
          </app-input>
          <div class="container-erro">
            <span class="msg-erro" *ngIf="!credenciais.email && (emailTocado || enviou)">
              O e-mail é obrigatório.
            </span>
          </div>
        </div>
        <div class="field-group">
          <app-input
            titulo="Senha"
            tipo="password"
            placeholder="Digite sua senha"
            altura="52px"
            largura="100%"
            [valor]="credenciais.senha"
            (mudou)="credenciais.senha = $event"
            (focusout)="marcarComoTocado('senha')">
          </app-input>

          <div class="container-erro">
            <span class="msg-erro" *ngIf="!credenciais.senha && (senhaTocado || enviou)">
              A senha é obrigatória.
            </span>
          </div>
        </div>
      </app-input-card>

      <div class="acoes-login">
        <app-botao-aprovar (clicou)="efetuarLogin()">
          Entrar
        </app-botao-aprovar>
      </div>

      <div class="link-cadastro">
        <p>
          Não possui uma conta?
          <a routerLink="/autocadastro">
            Cadastre-se aqui
          </a>
        </p>
      </div>
    </form>
  </app-card-visualizacao>
</div>