<app-card-visualizacao>
  <div class="container">

    <h2>Solicitações Tech Solution</h2>

    <div class="filtros-container">
      <span class="filtros-label">Filtrar</span>

      <div class="filtros">

        <app-combo
          altura="56px"
          largura="220px"
          titulo=""
          [lista]="opcoesFiltro"
          (mudou)="onFiltroChange($event)">
        </app-combo>

        @if (filtro === 'PERIODO') {
        <input type="date" [(ngModel)]="dataInicio" (change)="aplicarFiltros()">
        <input type="date" [(ngModel)]="dataFim" (change)="aplicarFiltros()">
        }

      </div>
    </div>

    @if (solicitacoesFiltradas.length > 0) {
      <app-tabela
        [colunas]="colunas"
        [dados]="dadosPaginados"
        [acoes]="acoes"
        campoEstado="estadoAtual"
        (acaoClicada)="onAcaoTabela($event)">
      </app-tabela>

      <app-paginacao
        [totalItens]="solicitacoesFiltradas.length"
        [itensPorPagina]="itensPorPagina"
        [paginaAtual]="paginaAtual"
        (paginaChange)="onPaginaChange($event)">
      </app-paginacao>
    }

    @if (solicitacoesFiltradas.length === 0) {
      <div class="sem-dados">
        Nenhuma solicitação encontrada
      </div>
    }

  </div>
</app-card-visualizacao>
