<label class="label-textarea" *ngIf="titulo">
  {{ titulo }}
  <span class="asterisco" *ngIf="obrigatorio">*</span>
</label>

<div class="campo-container largura-total">
  <textarea
    class="campo-textarea"
    [placeholder]="placeholder"
    [value]="valor"
    [style.height]="altura"
    (input)="aoDigitar($event)"
    [attr.maxlength]="maxLength"
    #inputRef>
  </textarea>
</div>

<div class="contador-container largura-total">
    <span class="contador-texto"
       [class.erro]="(inputRef.value.length ||  0) >= maxLength">
      {{ inputRef.value.length || 0 }}/{{ maxLength }}
    </span>
</div>

<span class="msg-erro" *ngIf="msgDirective">{{ msgDirective }}</span>
<span class="msg-erro" *ngIf="exibirObrigatorio && !msgDirective">O campo é obrigatório.</span>

