<div class="header">
  <h2 class="titulo">Lista de funcionários</h2>

  <div class="header-actions">
    <app-pesquisa
      placeholder="Pesquisar..."
      [valor]="termoPesquisa"
      (pesquisou)="pesquisar($event)">
    </app-pesquisa>

    <app-botao
      [texto]="mostrarInativas ? 'Mostrar inativas' : 'Apenas ativas'"
        icone="visibility"
        cor="primary" 
      (clicou)="toggleInativas()">
    </app-botao>
  </div>
</div>

<app-tabela
  [colunas]="colunas"
  [dados]="dadosPaginados"
  (linhaSelecionada)="selecionarLinha($event)">
</app-tabela>

<app-paginacao
  [totalItens]="funcionariosFiltrados.length"
  [itensPorPagina]="itensPorPagina"
  [paginaAtual]="paginaAtual"
  (paginaChange)="selecionarPagina($event)">
</app-paginacao>

<div class="container-botoes">
  <app-botao
    texto="Adicionar"
    icone="add"
    cor="primary"
    (clicou)="adicionar()">
  </app-botao>

  <app-botao
    texto="Atualizar"
    icone="edit"
    cor="accent"
    (clicou)="atualizar()" 
    [desabilitado]="!funcionarioSelecionado">
  </app-botao>

  <app-botao
    texto="Desativar"
    icone="delete"
    cor="warn"
    (clicou)="excluir()"
    [desabilitado]="!funcionarioSelecionado">
    Desativar
  </app-botao>

</div>