  @if (solicitacao) {

    <app-card-visualizacao>

      <h2>Efetuar Orçamento</h2>

      <div class="responsavel-tecnico">
        <h3>Responsável Técnico</h3>
        <p><b>Funcionário: </b> {{ nomeFuncionario }}</p>
      </div>

      <div class="grid">

  <div class="col">
    <h3>Dados da Solicitação</h3>

    <p><b>Equipamento:</b> {{ solicitacao.descricaoEquipamento }}</p>
    <p><b>Categoria:</b> {{ solicitacao.categoriaEquipamento.nome }}</p>
    <p><b>Defeito:</b> {{ solicitacao.descricaoDefeito }}</p>
    <p><b>Data:</b> {{ solicitacao.dataHoraCriacao | date:'dd/MM/yyyy HH:mm' }}</p>
    <p><b>Estado Atual:</b> {{ solicitacao.estadoAtual }}</p>
  </div>

  <div class="col">
    <h3>Dados do Cliente</h3>

    <p><b>Nome:</b> {{ solicitacao.cliente?.nome }}</p>
    <p><b>CPF:</b> {{ solicitacao.cliente?.cpf }}</p>
    <p><b>Email:</b> {{ solicitacao.cliente?.email }}</p>

    <p>
      <b>Telefone:</b>
      ({{ solicitacao.cliente?.telefone | slice:0:2 }})
      {{ solicitacao.cliente?.telefone | slice:2:7 }}-
      {{ solicitacao.cliente?.telefone | slice:7 }}
    </p>

    @if (solicitacao.cliente?.endereco) {
      <p><b>Endereço:</b>
        {{ solicitacao.cliente?.endereco?.logradouro }}, {{ solicitacao.cliente?.endereco?.numero }}
        @if (solicitacao.cliente?.endereco?.complemento) { - {{ solicitacao.cliente?.endereco?.complemento }} }
        - {{ solicitacao.cliente?.endereco?.bairro }},
        {{ solicitacao.cliente?.endereco?.cidade }}/{{ solicitacao.cliente?.endereco?.uf }}
      </p>
    }
  </div>

  <div class="col col-acao">
    <div class ="campo-valor">
      <app-input
        altura="52px"
        largura="100%"
        titulo="Valor do Orçamento"
        placeholder="Digite o valor"
        [valor]="valorDigitado"
        [decimal]="true"
        [obrigatorio]="true"
        (mudou)="valorDigitado = $event">
      </app-input>
    </div>
    
    <div class="botao">
      <app-botao
        texto="Salvar Orçamento"
        cor="primary"
        icone="save"
        [desabilitado]="!valorValido()"
        (click)="registrarOrcamento()">
      </app-botao>
    </div>
  </div>

</div>


    </app-card-visualizacao>

  }
