<div class="container-center">
  <mat-card class="form-card">
    <mat-card-header><mat-card-title>Novo Cadastro</mat-card-title></mat-card-header>
    <mat-card-content>
      <form #f="ngForm" (ngSubmit)="salvarCadastro()" class="flex-column">
        <div class="flex-row gap-16">
          <mat-form-field appearance="outline" class="flex-3">
            <mat-label>Nome Completo</mat-label>
            <input matInput name="nome" [(ngModel)]="cliente.nome" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="flex-1">
            <mat-label>CPF</mat-label>
            <input matInput name="cpf" [(ngModel)]="cliente.cpf" required>
          </mat-form-field>
        </div>
        <div class="flex-row gap-16">
          <mat-form-field appearance="outline" class="flex-1">
            <mat-label>CEP</mat-label>
            <input matInput name="cep" [(ngModel)]="cliente.cep" (blur)="buscarEnderecoPorCep()" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="flex-2">
            <mat-label>Logradouro</mat-label>
            <input matInput name="logradouro" [(ngModel)]="cliente.logradouro" required>
          </mat-form-field>
        </div>
        <div class="flex-row gap-16 mt-16">
          <button mat-raised-button color="primary" [disabled]="!f.valid">Cadastrar</button>
          <button mat-button type="button" routerLink="/login">Voltar</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>