<div class="cadastro-container">
  <app-card-visualizacao>
    <div class="header-text">
      <h1>Crie sua conta</h1>
      <p>Preencha as informações para criar sua conta no sistema</p>
      <hr class="divider">
    </div>

    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      
      <app-input-card label="Dados Pessoais">
        <app-input 
          titulo="Nome Completo" 
          name="nome"
          [valor]="usuario.nome" 
          (mudou)="usuario.nome = $event"
          placeholder="Digite seu nome"
          largura="100%">
        </app-input>

        <div class="flex-row">
          <app-input 
            titulo="CPF" 
            name="cpf"
            [valor]="usuario.cpf" 
            (mudou)="aplicarMascaraCPF($event)"
            placeholder="000.000.000-00"
            largura="100%">
          </app-input>
          
          <app-input 
            titulo="Telefone" 
            name="telefone"
            [valor]="usuario.telefone" 
            (mudou)="aplicarMascaraTelefone($event)"
            placeholder="(41) 9 9999-9999"
            largura="100%">
          </app-input>
        </div>
      </app-input-card>

      <app-input-card label="Endereço (ViaCEP)">
        <div class="flex-row">
          <app-input 
            titulo="CEP" 
            name="cep"
            [valor]="usuario.cep" 
            (mudou)="aplicarMascaraCEP($event)"
            placeholder="00000-000"
            (focusout)="buscarCep()"
            largura="100%">
          </app-input>
          
          <div class="flex-1 input-bloqueado">
            <app-input 
              titulo="Cidade" 
              name="cidade"
              [valor]="usuario.cidade" 
              largura="100%">
            </app-input>
          </div>
        </div>
        
        <div class="input-bloqueado">
          <app-input 
            titulo="Logradouro" 
            name="logradouro"
            [valor]="usuario.logradouro" 
            largura="100%">
          </app-input>
        </div>
      </app-input-card>

      <app-input-card label="Acesso">
        <app-input 
          titulo="E-mail" 
          name="email"
          type="email"
          [valor]="usuario.email" 
          (mudou)="usuario.email = $event"
          placeholder="email@exemplo.com"
          largura="100%">
        </app-input>
        
        <app-input 
          titulo="Senha" 
          name="senha"
          type="password"
          [valor]="usuario.senha" 
          (mudou)="usuario.senha = $event"
          placeholder="Mínimo 6 caracteres"
          largura="100%">
        </app-input>
      </app-input-card>

      <div class="flex-row justify-between mt-24">
        <app-botao-cancelar (clicou)="router.navigate(['/login'])">
          Já sou cadastrado
        </app-botao-cancelar>
        
        <app-botao-aprovar (clicou)="onSubmit(f)">
          Finalizar Cadastro
        </app-botao-aprovar>
      </div>
    </form>
  </app-card-visualizacao>
</div>