<div class="cadastro-container">
  <app-card-visualizacao>
    <div class="header-text">
      <h1>Crie sua conta</h1>
      <p>Preencha as informações para criar sua conta no sistema</p>
      <hr class="divider">
    </div>

    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      
      <div class="secao-ajustada">
        <h3 class="titulo-secao">Dados Pessoais</h3>
        <div class="wrapper-individual">
          <app-input titulo="Nome Completo" [valor]="usuario.nome" (mudou)="usuario.nome = $event" (focusout)="camposTocados.nome = true" altura="34px" largura="100%"></app-input>
          <span *ngIf="camposTocados.nome && !usuario.nome" class="msg-erro">O Nome Completo é obrigatório.</span>
        </div>

        <div class="linha-flex-ajustada recuo-superior">
          <div class="flex-1">
            <app-input titulo="CPF" [valor]="usuario.cpf" (mudou)="aplicarMascaraCPF($event)" (focusout)="camposTocados.cpf = true" altura="34px" largura="100%"></app-input>
            <span *ngIf="camposTocados.cpf && !usuario.cpf" class="msg-erro">O CPF é obrigatório.</span>
          </div>
          <div class="flex-1">
            <app-input titulo="Telefone" [valor]="usuario.telefone" (mudou)="aplicarMascaraTelefone($event)" (focusout)="camposTocados.telefone = true" altura="34px" largura="100%"></app-input>
            <span *ngIf="camposTocados.telefone && !usuario.telefone" class="msg-erro">O Telefone é obrigatório.</span>
          </div>
        </div>
      </div>

      <div class="secao-ajustada recuo-superior">
        <h3 class="titulo-secao">Endereço (ViaCEP)</h3>
        <div class="linha-flex-ajustada">
          <div class="flex-1">
            <app-input titulo="CEP" [valor]="usuario.cep" (mudou)="aplicarMascaraCEP($event)" (focusout)="buscarCep(); camposTocados.cep = true" altura="34px" largura="100%"></app-input>
            <span *ngIf="camposTocados.cep && !usuario.cep" class="msg-erro">O CEP é obrigatório.</span>
          </div>
          <div class="flex-1">
            <app-input titulo="Cidade" [valor]="usuario.cidade" (mudou)="usuario.cidade = $event" (focusout)="camposTocados.cidade = true" altura="34px" largura="100%"></app-input>
            <span *ngIf="camposTocados.cidade && !usuario.cidade" class="msg-erro">A Cidade é obrigatória.</span>
          </div>
        </div>
        
        <div class="linha-flex-ajustada recuo-superior">
          <div class="flex-1">
            <app-input titulo="Bairro" [valor]="usuario.bairro" (mudou)="usuario.bairro = $event" (focusout)="camposTocados.bairro = true" altura="34px" largura="100%"></app-input>
            <span *ngIf="camposTocados.bairro && !usuario.bairro" class="msg-erro">O Bairro é obrigatório.</span>
          </div>
          <div class="flex-1">
            <app-input titulo="UF" [valor]="usuario.uf" (mudou)="usuario.uf = $event" (focusout)="camposTocados.uf = true" altura="34px" largura="100%"></app-input>
            <span *ngIf="camposTocados.uf && !usuario.uf" class="msg-erro">A UF é obrigatória.</span>
          </div>
        </div>

        <div class="wrapper-individual recuo-superior">
          <app-input titulo="Logradouro" [valor]="usuario.logradouro" (mudou)="usuario.logradouro = $event" (focusout)="camposTocados.logradouro = true" altura="34px" largura="100%"></app-input>
          <span *ngIf="camposTocados.logradouro && !usuario.logradouro" class="msg-erro">O Logradouro é obrigatório.</span>
        </div>

        <div class="linha-flex-ajustada recuo-superior">
          <div class="flex-1">
            <app-input titulo="Número" [valor]="usuario.numero" (mudou)="usuario.numero = $event" (focusout)="camposTocados.numero = true" altura="34px" largura="100%"></app-input>
            <span *ngIf="camposTocados.numero && !usuario.numero" class="msg-erro">O Número é obrigatório.</span>
          </div>
          <div class="flex-1">
            <app-input titulo="Complemento" [valor]="usuario.complemento" (mudou)="usuario.complemento = $event" altura="34px" largura="100%"></app-input>
          </div>
        </div>
      </div>

      <div class="secao-ajustada">
        <h3 class="titulo-secao">Acesso</h3>
        <div class="wrapper-individual">
          <app-input titulo="E-mail" [valor]="usuario.email" (mudou)="usuario.email = $event" (focusout)="camposTocados.email = true" altura="34px" largura="100%"></app-input>
          <span *ngIf="camposTocados.email && !usuario.email" class="msg-erro">O e-mail é obrigatório.</span>
        </div>
      </div>

      <div class="acoes-finais">
        <app-botao-cancelar (clicou)="router.navigate(['/login'])">Já sou cadastrado</app-botao-cancelar>
        <app-botao-aprovar (clicou)="onSubmit(f)">Finalizar Cadastro</app-botao-aprovar>
      </div>
    </form>
  </app-card-visualizacao>
</div>