<div class="solicitacao-container">
  <app-card-visualizacao> <div class="header-text">
      <h1>Solicitação de Manutenção</h1>
      <p>Preencha os dados abaixo para que nossos técnicos possam avaliar seu equipamento.</p>
      <hr class="divider">
    </div>

    <form (ngSubmit)="solicitarManutencao()">
      
      <div class="linha-form-superior">
        <div class="campo-flex">
          <app-combo 
            titulo="Categoria do Equipamento"
            largura="100%" 
            altura="52px"
            [lista]="categoriasLista"
            (mudou)="solicitacao.categoriaId = $event">
          </app-combo> <div class="container-erro">
            <span class="msg-erro" *ngIf="!solicitacao.categoria && enviou">Obrigatório.</span>
          </div>
        </div>

        <div class="campo-flex">
          <app-input 
            titulo="Descrição do Equipamento"
            placeholder="Ex: Dell Inspiron 15"
            largura="100%" 
            altura="52px"
            [valor]="solicitacao.modelo"
            (mudou)="solicitacao.modelo = $event">
          </app-input> <div class="container-erro">
            <span class="msg-erro" *ngIf="!solicitacao.modelo && enviou">Obrigatório.</span>
          </div>
        </div>
      </div>

      <div class="container-defeito-custom">
        <app-text-area 
          titulo="Defeito"
          largura="100%" 
          altura="180px"
          placeholder="Descreva o problema detalhadamente..."
          [valor]="solicitacao.descricaoDefeito"
          (mudou)="solicitacao.descricaoDefeito = $event">
        </app-text-area> <div class="previsao-externa-wrapper">
          <div class="previsao-tag">Previsão de análise 24h úteis</div>
        </div>
        
        <div class="container-erro">
          <span class="msg-erro" *ngIf="!solicitacao.descricaoDefeito && enviou">
            A descrição do defeito é obrigatória.
          </span>
        </div>
      </div>

      <div class="acoes-form">
        <app-botao-cancelar 
          [confirmacao]="true"
          (clicou)="router.navigate(['/cliente'])">
          Cancelar Solicitação
        </app-botao-cancelar> <app-botao-aprovar (clicou)="solicitarManutencao()">
          Enviar Solicitação
        </app-botao-aprovar> </div>

    </form>
  </app-card-visualizacao>
</div>