<div class="solicitacao-container">
  <app-card-visualizacao> <div class="header-text">
      <h1>Solicitação de Manutenção</h1>
      <p>Preencha os dados abaixo para que nossos técnicos possam avaliar seu equipamento.</p>
      <hr class="divider">
    </div>

    <form (ngSubmit)="solicitarManutencao()">
      
      <div class="linha-form-superior">
        <div class="campo-flex">
          <app-combo
            titulo="Categoria do Equipamento"
            largura="100%"
            [lista]="categoriasLista"
            (mudou)="solicitacao.categoriaId = $event">
          </app-combo>
        </div>

        <div class="campo-flex">
          <app-input
            titulo="Descrição do Equipamento"
            placeholder="Ex: Dell Inspiron 15"
            largura="100%"
            [valor]="solicitacao.modelo"
            [textoNum]="true"
            [obrigatorio]="true"
            (mudou)="solicitacao.modelo = $event">
          </app-input>
        </div>
      </div>

      <div class="container-defeito-custom">
        <app-text-area 
          titulo="Defeito"
          largura="100%" 
          altura="180px"
          placeholder="Descreva o problema detalhadamente..."
          [valor]="solicitacao.descricaoDefeito"
          [obrigatorio]="true"
          [textoNum]="true"
          (mudou)="solicitacao.descricaoDefeito = $event">
        </app-text-area> <div class="previsao-externa-wrapper">
          <div class="previsao-tag">Previsão de análise 24h úteis</div>
        </div>
        
      </div>

      <div class="acoes-form">
        <app-botao-cancelar
          (clicou)="confirmarCancelamento()">
          Cancelar Solicitação
        </app-botao-cancelar> <app-botao-aprovar (clicou)="solicitarManutencao()">
          Enviar Solicitação
        </app-botao-aprovar> </div>

    </form>
  </app-card-visualizacao>
</div>